<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Controls" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Controls.Imaging" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net472" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Video.DirectShow" version="3.8.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="ViewFaceCore" version="0.3.7" targetFramework="net472" />
  <package id="ViewFaceCore.all_models" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.Extension.SystemDrawing" version="0.3.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.age_predictor" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.eye_state" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_detector" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_landmarker_mask_pts5" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_landmarker_pts5" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_landmarker_pts68" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_recognizer" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_recognizer_light" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_recognizer_mask" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.fas_first" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.fas_second" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.gender_predictor" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.mask_detector" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.pose_estimation" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.quality_lbn" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.runtime.win.vc" version="6.0.0" targetFramework="net472" />
  <package id="ViewFaceCore.runtime.win.x64" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.runtime.win.x86" version="6.0.7" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>