<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/View12138/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="View12138" />
            <add key="ClearTextPassword" value="396d643099a7ded8795b72ee4ede92794e634842" />
        </github>
    </packageSourceCredentials>
</configuration>