# for python
*.pyc
*_pb2.py
# build files
*.dll
*.exe
*.obj
*.o
*.so
*.a
/cmake-build-*
# binary file
*.tsm
*.t
*.txt
*.dat
*.pkl
*.tar.gz
*.out
# project files
/.idea

build/
bin/
lib/
lib*/
build.*/
