html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer-container {
    line-height: 80px;
    height: 80px;
    position: absolute;
    bottom: 0px;
    width: 100%
}