@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>欢迎在ASP.NET中使用ViewFaceCore！</h2>
    <p class="lead">@ViewBag.Message</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

</div>