<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net472" />
  <package id="FreeSql" version="3.2.669" targetFramework="net472" />
  <package id="FreeSql.DbContext" version="3.2.669" targetFramework="net472" />
  <package id="FreeSql.Provider.Sqlite" version="3.2.669" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.3" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="ViewFaceCore" version="0.4.0-alpha1" targetFramework="net472" />
  <package id="ViewFaceCore.all_models" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.Extension.SystemDrawing" version="0.4.0-alpha1" targetFramework="net472" />
  <package id="ViewFaceCore.model.age_predictor" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.eye_state" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_detector" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_landmarker_mask_pts5" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_landmarker_pts5" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_landmarker_pts68" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_recognizer" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_recognizer_light" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_recognizer_mask" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.fas_first" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.fas_second" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.gender_predictor" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.mask_detector" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.pose_estimation" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.quality_lbn" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.runtime.win.vc" version="6.0.0" targetFramework="net472" />
  <package id="ViewFaceCore.runtime.win.x64" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.runtime.win.x86" version="6.0.7" targetFramework="net472" />
</packages>