<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      >
	<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        throwConfigExceptions="true"
        internalLogLevel="info"
        internalLogFile="log\internal-nlog.txt"
      >-->

	<variable name="logDirectory" value="logs" />

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file use async -->
		<target xsi:type="AsyncWrapper" name="all-log">
			<target xsi:type="File"
					keepFileOpen="true"
					openFileCacheTimeout="60"
					name="all-file-log"
					fileName="${logDirectory}/${shortdate}_1.log"
					archiveFileName="${logDirectory}/${shortdate}_{#}.log"
					archiveNumbering="Sequence"
					archiveAboveSize="104857600"
					layout="${date}|${uppercase:${level}}|${logger}|${message}${onexception:inner=${newline} *****Error***** ${newline} ${exception:format=toString}${exception:format=StackTrace}}" />
		</target>
		
		<target xsi:type="AsyncWrapper" name="http-log">
			<target xsi:type="File"
					keepFileOpen="true"
					openFileCacheTimeout="60"
					name="http-file-log"
					fileName="${logDirectory}/${shortdate}_http_1.log"
					archiveFileName="${logDirectory}/${shortdate}_http_{#}.log"
					archiveNumbering="Sequence"
					archiveAboveSize="104857600"
					layout="${date}|${uppercase:${level}}|${logger}|${message}${onexception:inner=${newline} *****Error***** ${newline} ${exception:format=toString}${exception:format=StackTrace}}" />
		</target>
		
		<target xsi:type="ColoredConsole" name="all-console"
				layout="${date}|${uppercase:${level}}|${logger}|${message}${onexception:inner=${newline} *****Error***** ${newline} ${exception:format=toString}${exception:format=StackTrace}}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.AspNetCore.HttpLogging.*" minlevel="Info" writeTo="http-log" final="true" />
		<!--All logs, but skip Microsoft.AspNetCore.HttpLogging.* -->
		<logger name="*" minlevel="Info" writeTo="all-log" />
		<!--All logs, but skip Microsoft.AspNetCore.HttpLogging.* -->
		<logger name="*" minlevel="Debug" writeTo="all-console" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
	</rules>
</nlog>
