@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">欢迎使用ViewFaceCore！</h1>
    <div style="height:300px">
        <button type="button" class="btn btn-primary">上传</button>
    </div>


    <p>Learn about <a href="https://github.com/ViewFaceCore/ViewFaceCore">building face recognition app with ViewFaceCore</a>.</p>
</div>
